.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MuiDataGrid-root {
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
  box-shadow: 50px;
}

.MuiDataGrid-paper {
  border-radius: 50px;
}

.MuiTabs-flexContainer {
  color: rgb(1, 27, 27);
  background-color: #e3f2fd;
}
.text-link {
  color: inherit;
  text-decoration: inherit;
}

.file-upload {
  padding: 200px;
  margin-top: 40px;
  margin-left: 200px;
}
.data-table {
  margin-top: 40px;
  padding: 2%;
  margin-left: -140px;
}

.image-container {
  height: 850px;
  width: 2880px !important;
  color: white;
  background: #c04848; /* fallback for old browsers */
  background: linear-gradient(rgba(32, 82, 190, 0.8), rgba(11, 7, 93, 0.8)),
    url("./block-chain-watchdog.png"); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(rgba(43, 71, 172, 0.8), rgb(1, 7, 93, 0.8)),
    url("./wolf-watch.png"); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-repeat: no-repeat;
}
